<clr-main-container>
  <clr-header>
    <div class="header-nav" [clr-nav-level]="1">...</div>
    <h1>Admin Ecommerce</h1>
  </clr-header>
  <div class="content-container">
    <main class="content-area"><p>Produits</p></main>
    <nav class="sidenav" [clr-nav-level]="2">
      <section class="sidenav-content">
        <a href="javascript://" class="nav-link active">Produits</a>
        <a href="javascript://" class="nav-link">Commande</a>
        <a href="javascript://" class="nav-link">Utilisateurs</a>
        <a href="javascript://" class="nav-link">Catégories</a>
      </section>
    </nav>
  </div>
</clr-main-container>
